#name: twitter-yahtzee
#on:
#  # Run every hour
#  schedule:
#    - cron: 0 * * * *
#  # Run when pushed to master
#  push:
#    branches:
#      - master
#jobs:
#  twitter-yahtzee:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@master
#    - name: Download ruby 2.6
#      uses: actions/setup-ruby@v1
#      with:
#      run: gem install twurl
#        ruby-version: 2.6.x
#    - name: Install twurl
#    - name: Run pre-flight-checks.sh
#      run: /bin/bash pre-flight-checks.sh    
#    - name: Run twitter-yahtzee.sh
#      env:
#          twitter_consumer_api_key: ${{ secrets.twitter_consumer_api_key }}
#          twitter_consumer_api_secret_key: ${{ secrets.twitter_consumer_api_secret_key }}
#          twitter_access_token: ${{ secrets.twitter_access_token }}
#          twitter_access_token_secret: ${{ secrets.twitter_access_token_secret}}
#      run: /bin/bash twitter-yahtzee.sh
